<div class="container">
  <!-- <h2 #tem>Book Add</h2>
    <button type="button" (click)="display(tem)">click</button>
    <h3>printing template variable : {{ tem }}</h3> -->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form #myForm="ngForm" (ngSubmit)="handleFormSubmit(myForm)">
        <div class="card">
          <div class="card-header"><h3>ADD A NEW BOOK</h3></div>
          <div class="card-body">
            <div class="form-control-group">
              <label for="bTitle" class="form-label">Book Title:</label>
              <input
                type="text"
                class="form-control"
                id="bTitle"
                [(ngModel)]="formData.bookTitle"
                name="bookTitle"
                #boTitle="ngModel"
                (change)="display(boTitle)"
                required
                minlength="2"
              />
              <div
                class="text-danger small"
                *ngIf="boTitle.touched && boTitle.errors?.['required']"
              >
                Book Title is required!
              </div>
              <div
                class="text-danger small"
                *ngIf="boTitle.touched && boTitle.errors?.['minlength']"
              >
                Book Title should be atleast 2 characters!
              </div>
            </div>
            <div class="form-control-group">
              <label for="bAuthorId" class="form-label">Book Author ID:</label>
              <input
                type="text"
                class="form-control"
                id="bAuthorId"
                ngModel
                name="bookAuthorId"
                #boAuthor="ngModel"
                (change)="display(boAuthor)"
                required
              />
              <div
                class="text-danger small"
                *ngIf="boAuthor.touched && boAuthor.invalid"
              >
                Book Author ID is required!
              </div>
            </div>
            <div class="form-control-group">
              <label for="bCost" class="form-label">Book Cost:</label>
              <input
                type="text"
                class="form-control"
                id="bTitle"
                [(ngModel)]="formData.bookCost"
                name="bookCost"
                [value]="formData.bookCost == 0 ? '' : formData.bookCost"
                required
                #boCost="ngModel"
              />
              <div
                class="text-danger small"
                *ngIf="boCost.touched && boCost.invalid"
              >
                Book Cost is required!
              </div>
            </div>
            <div class="form-control-group">
              <label for="bImage" class="form-label">Book Image URL:</label>
              <input
                type="text"
                class="form-control"
                id="bImage"
                [(ngModel)]="formData.bookImageUrl"
                name="bookImageUrl"
              />
            </div>
            <div>
              <button
                type="submit"
                class="btn btn-dark text-light mt-2"
                [disabled]="myForm.invalid"
              >
                ADD
              </button>
              <button type="reset" class="btn btn-dark text-light mx-5 mt-2">
                CLEAR
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
